
* {
  box-sizing: border-box;
}


.row {
  width: 100%;
}

h1{
	font-size: 28px;
	text-align: center;
	font-family: 'Courier New', monospace;
}
div{
	width: 100%;
	border: 1 px solid red;
	padding: 30px 30px 30px 30px;
	background-color: lightgray;
	float: left;
	position: relative;
	margin-left:  2%;
	margin-right: 2%;
	margin-bottom: 2%;
  font-family: 'Courier New', monospace;
}

h6{
	border: 1px solid black;
	width: 100px;
	background-color: pink;
	color: black;
	font-size: 22.5px;
	text-align: center;
	position: relative;
	left: 65%;
}

@media (min-width: 992px) {
.large1, .large2, .large3 {
		float: left;
		border: 1px solid black;
	}
	.large1 {
		width: 27%;
	}
	.large2 {
		width:  27%;
	}
	.large3{
		width: 27%;
	}
}

@media(min-width: 768px) and (max-width:  991px){
	.medium1, .medium2, .medium3 {
		float: left;
		border: 1px solid black;
	}
	.medium1{
		width: 40%
	}
	.medium2{
		width:  40%;
	}
	.medium3{
		width: 85%;
	}
}

@media(max-width: 767px){
	.small {
		float: left;
		border: 1px solid black;
		width : 100%
		}
	}
}
